.a1{
    font-family: monospace;
    font-size: 50px;
}
#a2{
    background-color: yellow;
    height: 50px;
    padding-bottom: 10px;
    font-size: 1rem;
    
}
.a3{
    font-size:  100px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}